build/
build-win/
build_raw_hidp/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old
sdkconfig.raw_hidp
sdkconfig.raw_hidp.old
*.elf
*.bin
*.map
*.uf2
*.log
.vscode/
.idea/
.cache/
__pycache__/
