CONFIG_DS5_DUAL_CHIP_SPI_COPROCESSOR=y
CONFIG_DS5_BT_BACKEND_RAW_HIDP=y
# CONFIG_DS5_BT_BACKEND_HIDH is not set
CONFIG_BT_L2CAP_ENABLED=y
CONFIG_DS5_RAW_HIDP_AUTO_CONNECT=y
CONFIG_DS5_DUAL_CHIP_TX_QUEUE_DEPTH=4
CONFIG_DS5_DUAL_CHIP_RESPONSE_QUEUE_DEPTH=4
CONFIG_DS5_DUAL_CHIP_SPI_HOST=2
CONFIG_DS5_DUAL_CHIP_SPI_SCLK_GPIO=-1
CONFIG_DS5_DUAL_CHIP_SPI_MOSI_GPIO=-1
CONFIG_DS5_DUAL_CHIP_SPI_MISO_GPIO=-1
CONFIG_DS5_DUAL_CHIP_SPI_CS_GPIO=-1
CONFIG_DS5_DUAL_CHIP_ESP_READY_GPIO=-1
CONFIG_DS5_DUAL_CHIP_ESP_IRQ_GPIO=-1
