CONFIG_DS5_DUAL_CHIP_SPI_HOST=2
CONFIG_DS5_DUAL_CHIP_SPI_SCLK_GPIO=27
CONFIG_DS5_DUAL_CHIP_SPI_MOSI_GPIO=26
CONFIG_DS5_DUAL_CHIP_SPI_MISO_GPIO=25
CONFIG_DS5_DUAL_CHIP_SPI_CS_GPIO=33
CONFIG_DS5_DUAL_CHIP_ESP_READY_GPIO=32
CONFIG_DS5_DUAL_CHIP_ESP_IRQ_GPIO=13
