CONFIG_FREERTOS=y

CONFIG_CHERRYUSB=y
CONFIG_CHERRYUSB_OSAL=freertos
CONFIG_CHERRYUSB_DEVICE=y
CONFIG_CHERRYUSB_DEVICE_CDC_ACM=y

CONFIG_M61_HOST_UART_ENABLE=y
CONFIG_M61_HOST_UART_ID=0
CONFIG_M61_HOST_UART_BAUD=115200
CONFIG_M61_HOST_UART_TX_PIN=21
CONFIG_M61_HOST_UART_RX_PIN=22
CONFIG_M61_TARGET_UART_ID=1
CONFIG_M61_TARGET_UART_TX_PIN=23
CONFIG_M61_TARGET_UART_RX_PIN=24
CONFIG_M61_BOOT_PIN=27
CONFIG_M61_EN_PIN=28
CONFIG_M61_MAP_CDC_LINES_TO_BOOT_RESET=n
