CONFIG_BFLB_LOG =n
CONFIG_FREERTOS =y
CONFIG_CHERRYUSB =y
CONFIG_CHERRYUSB_OSAL =freertos
CONFIG_CHERRYUSB_DEVICE =y
CONFIG_CHERRYUSB_DEVICE_HID =y
CONFIG_USB_EHCI_HCOR_RESERVED_DISABLE =y
CONFIG_BACKTRACE =n
