CONFIG_M61_DS5_BRIDGE_HAPTICS_GAIN_Q8 =256
CONFIG_M61_DS5_BRIDGE_SPEAKER_VOLUME =100
CONFIG_M61_DS5_BRIDGE_HEADSET_VOLUME =100
CONFIG_M61_DS5_BRIDGE_SPEAKER_GAIN =2
CONFIG_M61_DS5_BRIDGE_INACTIVE_TIME_MIN =30
CONFIG_M61_DS5_BRIDGE_POLLING_RATE_MODE =1
CONFIG_M61_DS5_BRIDGE_AUDIO_BUFFER_LENGTH =64
CONFIG_M61_DS5_BRIDGE_CONTROLLER_MODE =2
CONFIG_M61_DS5_BRIDGE_ENABLE_USB_SN =0
CONFIG_M61_DS5_BRIDGE_PS_SHORTCUT_ENABLED =0
CONFIG_M61_DS5_BRIDGE_MIC_SELECT =0
CONFIG_M61_DS5_BRIDGE_SPEAKER_SELECT =0
CONFIG_M61_DS5_BRIDGE_ENABLE_WAKE =0
CONFIG_M61_DS5_BRIDGE_TRIGGER_REDUCE =0
CONFIG_M61_DS5_BRIDGE_LOCK_VOLUME =0
CONFIG_M61_DS5_DUAL_CHIP_TRANSPORT =y
CONFIG_M61_ESP32_SPI_ENABLE =y
CONFIG_M61_ESP32_SPI_READY =y
CONFIG_M61_ESP32_SPI_SCLK_PIN =13
CONFIG_M61_ESP32_SPI_MOSI_PIN =11
CONFIG_M61_ESP32_SPI_MISO_PIN =10
CONFIG_M61_ESP32_SPI_CS_PIN =20
CONFIG_M61_ESP32_SPI_FREQ_HZ =1000000
CONFIG_M61_ESP32_READY_PIN =16
CONFIG_M61_ESP32_IRQ_PIN =17
CONFIG_M61_ESP32_RESET_PIN =255
CONFIG_M61_ESP32_RX_POLL_ENABLE =y
CONFIG_M61_ESP32_RX_POLL_INTERVAL_MS =1
CONFIG_M61_ESP32_ACK_POLL_COUNT =32
CONFIG_M61_ESP32_RELIABLE_RETRY_COUNT =1
CONFIG_M61_ESP32_TIME_SYNC_INTERVAL_MS =1000
CONFIG_M61_ESP32_RESET_PULSE_MS =50
CONFIG_M61_ESP32_RESET_BOOT_MS =750
CONFIG_M61_ESP32_RECOVERY_ERROR_THRESHOLD =8
CONFIG_M61_ESP32_RECOVERY_COOLDOWN_MS =5000
