CONFIG_BFLB_LOG =n
CONFIG_FREERTOS =y
CONFIG_SHELL =y
CONFIG_CONSOLE_UART_BAUDRATE =115200
CONFIG_CHERRYUSB =y
CONFIG_CHERRYUSB_OSAL =freertos
CONFIG_CHERRYUSB_DEVICE =y
CONFIG_CHERRYUSB_DEVICE_HID =y
CONFIG_CHERRYUSB_DEVICE_AUDIO =y
CONFIG_USB_EHCI_HCOR_RESERVED_DISABLE =y
CONFIG_MULTIMEDIA =y
CONFIG_OPUS =y
CONFIG_BLUETOOTH =y
CONFIG_RF =y

CONFIG_BTBLECONTROLLER_LIB =ble1m2s1bredr1
CONFIG_BLE_USE_MAC2 =n
CONFIG_BT_BREDR =y
CONFIG_BT_A2DP =n
CONFIG_BT_AVRCP =n
CONFIG_BT_HFP =n
CONFIG_BT_SPP =n
CONFIG_BT_MESH =n
CONFIG_BT_STACK_CLI =n

CONFIG_BT_SETTINGS =y
CONFIG_BFLB_MTD =y
CONFIG_PARTITION =y
CONFIG_LITTLEFS =y

CONFIG_M61_STATUS_LED_ENABLE =y
CONFIG_M61_STATUS_LED_ACTIVE_HIGH =y
CONFIG_M61_STATUS_LED_RED_PIN =12
CONFIG_M61_STATUS_LED_GREEN_PIN =14
CONFIG_M61_STATUS_LED_BLUE_PIN =15
CONFIG_M61_STATUS_LED_BLINK_MS =250
CONFIG_M61_USB_GAMEPAD_ENABLE =y
CONFIG_M61_DS5_BRIDGE_HAPTICS_GAIN_Q8 =256
CONFIG_M61_DS5_BRIDGE_SPEAKER_VOLUME =100
CONFIG_M61_DS5_BRIDGE_HEADSET_VOLUME =100
CONFIG_M61_DS5_BRIDGE_SPEAKER_GAIN =2
CONFIG_M61_DS5_BRIDGE_INACTIVE_TIME_MIN =30
CONFIG_M61_DS5_BRIDGE_POLLING_RATE_MODE =1
CONFIG_M61_DS5_BRIDGE_AUDIO_BUFFER_LENGTH =64
CONFIG_M61_DS5_BRIDGE_CONTROLLER_MODE =2
CONFIG_M61_DS5_BRIDGE_ENABLE_USB_SN =1
CONFIG_M61_DS5_BRIDGE_PS_SHORTCUT_ENABLED =0
CONFIG_M61_DS5_BRIDGE_DISABLE_MIC =0
CONFIG_M61_DS5_BRIDGE_DISABLE_SPEAKER =0
CONFIG_M61_DS5_BRIDGE_ENABLE_WAKE =0
CONFIG_M61_DS5_BRIDGE_TRIGGER_REDUCE =0
CONFIG_M61_DS5_BRIDGE_LOCK_VOLUME =0
CONFIG_M61_DS5_DUAL_CHIP_TRANSPORT =n
CONFIG_M61_ESP32_SPI_ENABLE =n
CONFIG_M61_ESP32_SPI_READY =n
CONFIG_M61_ESP32_SPI_SCLK_PIN =255
CONFIG_M61_ESP32_SPI_MOSI_PIN =255
CONFIG_M61_ESP32_SPI_MISO_PIN =255
CONFIG_M61_ESP32_SPI_CS_PIN =255
CONFIG_M61_ESP32_SPI_FREQ_HZ =1000000
CONFIG_M61_ESP32_READY_PIN =255
CONFIG_M61_ESP32_IRQ_PIN =255
CONFIG_M61_ESP32_RESET_PIN =255
CONFIG_M61_ESP32_RX_POLL_ENABLE =n
CONFIG_M61_ESP32_RX_POLL_INTERVAL_MS =1
CONFIG_M61_ESP32_ACK_POLL_COUNT =1
CONFIG_M61_ESP32_RELIABLE_RETRY_COUNT =1
CONFIG_M61_ESP32_TIME_SYNC_INTERVAL_MS =1000
CONFIG_M61_ESP32_RESET_PULSE_MS =50
CONFIG_M61_ESP32_RESET_BOOT_MS =750
CONFIG_M61_ESP32_RECOVERY_ERROR_THRESHOLD =8
CONFIG_M61_ESP32_RECOVERY_COOLDOWN_MS =5000

ifeq ($(CHIP),bl618dg)
CONFIG_ROMAPI =n
CONFIG_DUALCORE_DISABLE =y
CONFIG_WRAM_FOR_AP_SIZE = 0x50000
CONFIG_RAM_FOR_AP_SIZE = 0x50000
endif

CONFIG_BACKTRACE =n
